@model _ExcellOn_.Models.Service
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section css{

    <link href="~/Content/Duc/Carousel.css" rel="stylesheet" />
    <link href="~/Content/Duc/StaffProfile2.css" rel="stylesheet" />
    <link href="~/Content/Duc/StaffProfile1.css" rel="stylesheet" />
}
@section js{
    <script>
        $('#carousel-example').on('slide.bs.carousel', function (e) {
            /*
                CC 2.0 License Iatek LLC 2018 - Attribution required
            */
            var $e = $(e.relatedTarget);
            var idx = $e.index();
            var itemsPerSlide = 5;
            var totalItems = $('.carousel-item').length;

            if (idx >= totalItems - (itemsPerSlide - 1)) {
                var it = itemsPerSlide - (totalItems - idx);
                for (var i = 0; i < it; i++) {
                    // append slides to end
                    if (e.direction == "left") {
                        $('.carousel-item').eq(i).appendTo('.carousel-inner');
                    }
                    else {
                        $('.carousel-item').eq(0).appendTo('.carousel-inner');
                    }
                }
            }
        });
    </script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
    <script type="text/javascript">
        function _Book(Service_Id) {
            var list_option = $('.select_search option');
            console.log(list_option);
            $.each(list_option, function () {
                if ($(this).val() == Service_Id) {
                    $('.select_search').val($(this).val()).change();
                }
            });
        }
    </script>
}
<div class="inner-banner">
    <div class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">Top Quality Services</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Detail Services</li>
            </ul>
        </div>
    </div>
</div>

<section class="about-section py-5">
    <div class="container py-lg-5 pt-3">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-4">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">Any Questions</h5>
                        <p>
                            We are always ready to answer all your questions. Feel free to contact us whenever you need and we will serve you
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-4">
                        <i class="fa fa-laptop" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">Online Support</h5>
                        <p>
                            If you need support, please contact us via facebook, email or other social networking addresses of Excell On
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="about-single p-3 d-flex justify-content-between">
                    <div class="about-icon mr-4">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="about-content">
                        <h5 class="mb-3">24/7 Call Center</h5>
                        <p>
                            The 24/7 online support system is there to support you anytime, anywhere. Excel On where the quintessential solution
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-about-2 pb-5">
    <div class="container pb-md-5 pb-4">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 about-2-secs-left pr-lg-5">
                <h3 class="title-style mb-sm-3 mb-2">@Model.Service_Name - Service</h3>
                <p>
                    @Model.Service_Description
                </p>
                <ul class="list-about-2 mt-sm-4 mt-3">
                    <li class="py-1">
                        <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>Commitment to service quality
                    </li>
                    <li class="py-2">
                        <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>Commitment to qualifications and qualifications of employees
                    </li>
                    <li class="py-1">
                        <i class="fa fa-check-square-o mr-2" aria-hidden="true"></i>Commitment to refund if the error arises from the company
                    </li>
                </ul>
                <div class="mt-4">
                    <h3> Price : @Model.Service_Price $ / Day <span style="font-size:1.2rem">(for 1 employee)</span></h3>
                    <a class="btn btn-style-white btn-style-primary mt-3" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="return _Book(@Model.Id)" href="">Book Now</a>

                </div>
            </div>
            <div class="col-lg-6 about-2-secs-right mt-lg-0 mt-5">
                <img src="@Model.Service_Image" style="min-height: 400px;min-width: 400px" alt="" class="img-fluid img-responsive" />
            </div>


        </div>


    </div>


</section>

@Html.Action("Section_Image", "Services", new { id = Model.Id })

@Html.Action("Section_Staff", "Services", new { id = Model.Id })

@Html.Action("Section_Customer", "Customer")

@Html.Action("Section_Contact", "Contact")
