<!--header-->
@using _ExcellOn_.Models
@{
    Entities db = new Entities();
    Customer cus = null;
    Customer _cus = (Customer)Session["CustomerName"];
    if (_cus != null)
    {
        cus = db.Customers.Where(x => x.Id == _cus.Id).FirstOrDefault();
    }
    List<OrderDetail> list_ord = (List<OrderDetail>)Session["OrderDetail"];
    var List_Service_Id = Request["List_Service_Id[]"];
}
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <i class="fa fa-headphones mr-1"
                       aria-hidden="true"></i> Excell On
                </a>
            </h1>

            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","About")">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Services")">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Contact")">Contact Us</a>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target=".bd-example-modal-lg" class="btn nav-link" title="search">
                            <span class="fa fa-search"
                                  aria-hidden="true" style="margin-right: 10px"></span> Search
                        </a>
                    </li>

                    @if (list_ord != null && cus != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer2/OrderIndex" target="_blank">
                                <i style="font-size:20px" class="fa fa-shopping-bag" aria-hidden="true">
                                    <span style="position: relative;top:-15px;left:-2px;background-color:#777;color:white;border-radius:80%;font-weight: 600;font-size:0.8rem" id="order_count" class="nav-link badge badge-light">@list_ord.Count</span>
                                </i>
                            </a>
                        </li>
                    }
                    else if (list_ord == null && cus != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/Customer2/OrderIndex" target="_blank">
                                <i style="font-size:20px" class="fa fa-shopping-bag" aria-hidden="true">
                                    <span style="position: relative;top:-15px;left:-2px;background-color:#777;color:white;border-radius:80%;font-weight: 600;font-size:0.8rem" id="order_count" class="nav-link badge badge-light">0</span>
                                </i>
                            </a>
                        </li>
                    }
                    @if (cus != null)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" style="padding:0px" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center" style="margin-top: -7px; ">
                                    <span>
                                        <img alt="Image placeholder" style="border-radius: 50%; width:50px;height: 50px" src="@cus.Customer_Avatar">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">@cus.Customer_Name</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="position: absolute; left: 6px;top:auto!important">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Welcome!</h6>
                                </div>
                                <a class="dropdown-item" href="@Url.Action("MyProfileCustomer","Customer2")">
                                    <i class="fa fa-user" style="margin-right: 16px;"></i>
                                    <span>My profile</span>
                                </a>
                                <a class="dropdown-item" href="@Url.Action("OrderListIndex","Customer2")">
                                    <i class="fa fa-first-order" style="margin-right: 15px"></i>
                                    <span>My Order</span>
                                </a>

                                <div class="dropdown-divider"></div>
                                <a onclick="return _Logout()" class="dropdown-item">
                                    <i class="fa fa-sign-out" style="margin-right: 15px"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#Modal_Login" href="#">Login</a>
                        </li>
                    }
                </ul>
            </div>
            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container" style="margin-left:20px">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" id="modal-dialog2" style="height:auto">
        <div class="modal-content" style="box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px">
            <div class="modal-header">
                <h2 class="modal-title" style="font-weight: 600;color: #17a2b8" id="myModalLabel">YOU CAN SEARCH FOR ALL SERVICE</h2>
                <button type="button" class="close fa fa-close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <form method="post" action="/Searches/Search" style="padding: 20px">
                <div class="row" style="font-weight: 600">
                    <div class="col-md-3">
                        <label>Date Start</label>
                        <input class="form-control" id="Date_Start" name="Date_Start" value="@Request["Date_Start"]" type="text" />
                    </div>
                    <div class="col-md-3">
                        <label>Date End</label>
                        <input class="form-control" id="Date_End" name="Date_End"  value="@Request["Date_End"]" type="text" />
                    </div>
                    <div class="col-md-4">
                        <label>Service</label>
                        <select name="List_Service_Id[]" multiple class="form-control select_search">
                            @if (List_Service_Id != null)
                            {
                                <option value="1" @(List_Service_Id.Contains("1") ? "selected" : "")>In Bound</option>
                                <option value="2" @(List_Service_Id.Contains("2") ? "selected" : "")>Out Bound</option>
                                <option value="3" @(List_Service_Id.Contains("3") ? "selected" : "")>Tele Marketing</option>
                            }
                            else
                            {
                                <option value="1">In Bound</option>
                                <option value="2">Out Bound</option>
                                <option value="3">Tele Marketing</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-info" id="search" onclick="return _Search()" type="submit" style="margin-top: 33px;width:100%;float: right">
                            <i style="font-size: 14px" class="fa fa-search" aria-hidden="true"></i>
                            Search
                        </button>
                    </div>
                    <div class="col-md-6" id="loader" style="margin-top: 20px;margin-left: 40px;display:none">
                        <div class="loader" style="float:right"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal_Login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel" style="font-weight: 600">Login Modal</h4>
                <button type="button" class="close fa fa-close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="form">
                <div class="row">
                    <div class="modal-body" style="padding: 50px">
                        <div class="row">
                            <div class="col-md-6">
                                <label style="font-weight: 600">User Name</label>
                                <input id="UserName" type="text" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600">Password</label>
                                <input id="Password" type="password" class="form-control">
                            </div>
                            <div class="col-6 mx-auto" style="margin-top: 20px;display:none">
                                <div class="loader mx-auto" style="height: 30px; width: 30px"></div>
                            </div>
                            <div class="col-12" style="margin-top:20px">
                                <button type="button" style="float:right" class="btn btn-info" onclick="return _Login();">Login</button>
                                <a href="/CustomerLogin" style="float:right;margin-right:10px;padding: 5.5px" class="btn btn-dark">SignUp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
