@model List<_ExcellOn_.Models.Role>
@{ Layout = "~/Areas/Admin/Views/Shared/_MainLayout.cshtml";
}

<div class="container" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
    <div class="header-body">
        <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
                <h6 class="h2 d-inline-block mb-0">Role</h6>
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                        <li class="breadcrumb-item"><a href="#">Tables</a></li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-6 col-5 text-right">
                <a href="#" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#myModal1">Add New</a>
                <a class="btn btn-sm btn-neutral" href="/Admin/RoleManagement/RoleIndex">Reload</a>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 30px;padding-bottom: 40px">
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 150%">
                <div class="modal-header">
                    <h2 class="modal-title" id="myModalLabel">Compose News Company</h2>
                    <button type="button" class="close fa fa-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="form">
                    <div class="row">
                        <div class="modal-body" style="padding: 50px">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <input id="Role_Name" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Description</label>
                                    <input id="Role_Description" class="form-control" placeholder="Description">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 block_loader" style="display: none">
                        <div style="float:right;width: 55%">
                            <div class="loader"></div>
                        </div>
                    </div>
                    <div class="modal-footer col-md-12">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="return _Add();">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 150%">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Compose News Company</h4>
                    <button type="button" class="close fa fa-close" data-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="form">
                    <div class="row">
                        <div class="modal-body" style="padding: 50px">
                            <div class="row">
                                <div class="col-md-6" style="display: none">
                                    <label>Id</label>
                                    <input id="Id_edit" class="form-control" placeholder="Id" readonly>
                                </div>
                                <div class="col-md-6">
                                    <label>Name</label>
                                    <input id="Role_Name_edit" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <label>Description</label>
                                    <input id="Role_Description_edit" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <div class="loader" style="display:none"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="return _Update();">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            @if (@TempData["message"] != null)
            {
                <p class="alert alert-danger" style="font-weight:bold">
                    @TempData["message"]
                </p>
            }

            <div class="table-responsive">
                <table id="table_Role" class=" text-center align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-white" style="font-size: 0.875rem">Name</th>
                            <th class="text-white" style="font-size: 0.875rem">Description</th>
                            <th class="text-white" style="font-size: 0.875rem">#</th>
                            <th class="text-white" style="font-size: 0.875rem">Action</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.Role_Name
                                    </td>
                                    <td>
                                        @item.Role_Description
                                    </td>

                                    <td>
                                        <a class="btn" style="background-color: #e6eef1; font-size: 12px" href="/Admin/RoleManagement/Edit/@item.Id">Assign</a>
                                    </td>

                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                <a class="dropdown-item" data-toggle="modal" data-target="#myModal2" href="#" onclick="return _GetById(@item.Id)">Edit</a>
                                                <a class="dropdown-item" style="cursor: pointer" onclick="return _Delete(@item.Id)" id="@item.Id">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>

@section css{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="~/Areas/Admin/Public/DataTable/pagination.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Public/css/loader.css" rel="stylesheet" />
    <style>
        td {
            background-color: #172b4d;
        }

        th {
            color: #4d7bca
        }
    </style>
}
@section js{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_Role').DataTable({
                "lengthMenu": [10, 15, 20, 30],
                "pagingType": "full_numbers",
                language: {
                    paginate: {
                        next: '<i class="fa fa-fw fa-long-arrow-right">',
                        previous: '<i class="fa fa-fw fa-long-arrow-left">'
                    }
                }
            });
        });
    </script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

    <script src="~/Areas/Admin/Script_HuyDuc/Role/CRUD.js"></script>
}
