@using _ExcellOn_.Models
@using _ExcellOn_.Areas.Admin.Model
@using _ExcellOn_.Models.ViewModel
@{
    Entities db = new Entities();
    List<List_Staff_Free_Of_Service> List_list_Staff_Free_Of_Services = ViewBag.list_Staff_Free_Of_Services;
    List<List_Staff_Free_Of_Service> reference_list_Staff_Free_Of_Services = ViewBag.reference_list_Staff_Free_Of_Services;
    List<int> List_Service_Id = ViewBag.List_Service_Id;
    List<OrderDetail> list_ord = (List<OrderDetail>)Session["OrderDetail"];
    Customer cus = (Customer)Session["CustomerName"];
    List<Service> list_service = new List<Service>();
    if (List_Service_Id != null)
    {
        foreach (var item in List_Service_Id)
        {
            Service service = db.Services.Where(x => x.Id == item).FirstOrDefault();
            list_service.Add(service);
        }
    }

}
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section css{
    <style>
        .icon {
            margin-right: 5px;
        }

        .meta-search li .fa {
            color: darkblue
        }

        .info {
            font-size: 0.8rem;
            font-weight: 500
        }
    </style>
}
<div class="inner-banner">
    <section class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold text-white mb-sm-3 mb-2">Result Searching</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>Search</li>
            </ul>
        </div>
    </section>
</div>

<section style="margin-top: 50px;margin-bottom: 50px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color: #60336e">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="text-white" style="font-weight: 600">
                                    Result @(List_list_Staff_Free_Of_Services != null ? List_list_Staff_Free_Of_Services.Count : 0)
                                </h4>
                                <p class="text-white">
                                    were found for the <strong class="text-excell-color">Searching</strong> from  @Request["Date_Start"] to @Request["Date_End"]
                                    of <strong class="text-excell-color">Service</strong>
                                    @if (list_service != null)
                                    {
                                        foreach (var item in list_service)
                                        {
                                            if (list_service.IndexOf(item) == list_service.Count - 1)
                                            {
                                                <span> @item.Service_Name</span>
                                            }
                                            else
                                            {
                                                <span> @item.Service_Name, </span>
                                            }
                                        }
                                    }
                                </p>
                            </div>
                            <div class="col-md-4">
                                <a href="#" onclick="return _Refesh()" style="float: right;border-radius: 6px;border: 1px white solid" class="btn-style-white">
                                    <span>
                                        <i class="fa fa-spin" style="margin-right: 10px">&#xE863;</i>
                                        <span> Refresh </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @if (List_list_Staff_Free_Of_Services != null)
                            {
                                foreach (var list_Staff_Free_Of_Services in List_list_Staff_Free_Of_Services)
                                {
                                    int Service_Id = list_Staff_Free_Of_Services.service.Id;
                                    DateTime date_start = (DateTime)list_Staff_Free_Of_Services.Date_Start;
                                    DateTime date_end = (DateTime)list_Staff_Free_Of_Services.Date_End;
                                    string _date_start = date_start.ToString("dd/MMM/yyyy");
                                    string _date_end = date_end.ToString("dd/MMM/yyyy");
                                    float sale_price = (float)(list_Staff_Free_Of_Services.service.Service_Price - list_Staff_Free_Of_Services.service.Service_PriceSale);
                                    float sale_of = ((float)sale_price / (float)list_Staff_Free_Of_Services.service.Service_Price) * 100;
                                    string _sale_of = string.Format("{0:0.00}", sale_of);

                                    <div class="col-xs-12 col-sm-6 col-md-12" style="font-size: 1rem!important;margin-bottom: 40px;">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-3" style="padding-right: 0px">
                                                <a href="#" title="In-bound" class="thumbnail">
                                                    <img style="width:90%;height:160px;padding:5px;border-radius: 6px;border: 1px solid #ff00dc" src="@list_Staff_Free_Of_Services.service.Service_Image"
                                                         alt="Lorem ipsum" />
                                                </a>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-2" style="padding-left: 0px">
                                                <ul class="meta-search">
                                                    <li class="mb-4"><i class="icon fa fa-calendar"></i> <span class="info"> Date-Start: @_date_start</span></li>
                                                    <li><i class="icon fa fa-tag"></i> <span class="info">Tax: Included</span></li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-2" style="padding-left: 0px;padding-right:0px">
                                                <ul class="meta-search">
                                                    <li class="mb-4"><i class="icon fa fa-calendar"></i> <span class="info"> Date-End: @_date_end</span></li>
                                                    <li><i class="fa fa-usd" style="margin-right: 11px"></i> <span class="info">Money Back Guarantee</span></li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-2" style="padding-right: 0px">
                                                <ul class="meta-search">
                                                    <li class="mb-4"><i class="icon fa fa-user"></i> <span class="info"> Free Staffs: @list_Staff_Free_Of_Services.list_staff_free_count</span></li>
                                                    <li><i class="icon fa fa-gift"></i> <span class="info">Price offer: $@list_Staff_Free_Of_Services.service.Service_Price</span></li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-2" style="padding-right: 0px">
                                                <ul class="meta-search">
                                                    <li class="mb-4"><i class="icon fa fa-address-card"></i> <span class="info"> Name: @list_Staff_Free_Of_Services.service.Service_Name</span></li>
                                                    <li><i class="mr-2 fa fa-save"></i> <span class="info"> Sale of: @_sale_of %</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-1">
                                                <ul class="meta-search">
                                                    <li>
                                                        @if (cus != null)
                                                        {
                                                            <button data-toggle="modal" data-target="#Modal_OrderDetail" class="btn btn-info" onclick="return _Book(@list_Staff_Free_Of_Services.service.Id)">
                                                                <i class="glyphicon glyphicon-book" style="color:white!important"></i>
                                                                Book
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button data-toggle="modal" data-target="#Modal_Login" class="btn btn-info">
                                                                <i class="glyphicon glyphicon-log-in" style="color:white!important"></i>
                                                                Login
                                                            </button>
                                                        }

                                                    </li>
                                                </ul>
                                            </div>
                                            <span class="clearfix borda"></span>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header" style="background-color: #60336e">
                        <div class="row">
                            <div class="col-8">
                                <h4 class="text-white" style="font-weight: 600">Reference Result @(reference_list_Staff_Free_Of_Services != null ? List_list_Staff_Free_Of_Services.Count : 0)</h4>
                                <p class="text-white">
                                    <strong class="text-excell-color"></strong> were found for the <strong class="text-excell-color">Searching</strong> service from  @Request["Date_Start"] to @Request["Date_End"]
                                    of <strong class="text-excell-color">Service</strong>
                                    @if (list_service != null)
                                    {
                                        foreach (var item in list_service)
                                        {
                                            if (list_service.IndexOf(item) == list_service.Count - 1)
                                            {
                                                <span> @item.Service_Name</span>
                                            }
                                            else
                                            {
                                                <span> @item.Service_Name, </span>
                                            }
                                        }
                                    }
                                </p>
                            </div>
                            <div class="col-md-4">
                                <a href="#" onclick="return _Refesh()" style="float: right;border-radius: 6px;border: 1px white solid" class="btn-style-white">
                                    <span>
                                        <i class="fa fa-spin" style="margin-right: 10px">&#xE863;</i>
                                        <span> Refresh </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @if (reference_list_Staff_Free_Of_Services != null)
                            {
                                foreach (var list_Staff_Free_Of_Services in reference_list_Staff_Free_Of_Services)
                                {
                                    int Service_Id = list_Staff_Free_Of_Services.service.Id;
                                    DateTime date_start = (DateTime)list_Staff_Free_Of_Services.Date_Start;
                                    DateTime date_end = (DateTime)list_Staff_Free_Of_Services.Date_End;
                                    string _date_start = date_start.ToString("dd/MMM/yyyy");
                                    string _date_end = date_end.ToString("dd/MMM/yyyy");
                                    float sale_price = (float)(list_Staff_Free_Of_Services.service.Service_Price - list_Staff_Free_Of_Services.service.Service_PriceSale);
                                    float sale_of = ((float)sale_price / (float)list_Staff_Free_Of_Services.service.Service_Price) * 100;
                                    string _sale_of = string.Format("{0:0.00}", sale_of);

                                    <div class="col-xs-12 col-sm-6 col-md-12" style="font-size: 1rem!important;margin-bottom: 40px;">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-3" style="padding-right: 0px">
                                                <a href="#" title="In-bound" class="thumbnail">
                                                    <img style="width:90%;height:160px;padding:5px;border-radius: 6px;border: 1px solid #ff00dc" src="@list_Staff_Free_Of_Services.service.Service_Image"
                                                         alt="Lorem ipsum" />
                                                </a>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-2" style="padding-left: 0px">
                                                <ul class="meta-search">
                                                    <li class="mb-4"><i class="icon fa fa-calendar"></i> <span class="info"> Date-Start: @_date_start</span></li>
                                                    <li><i class="icon fa fa-tag"></i> <span class="info">Tax: Included</span></li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-2" style="padding-left: 0px;padding-right:0px">
                                                <ul class="meta-search">
                                                    <li class="mb-4"><i class="icon fa fa-calendar"></i> <span class="info"> Date-End: @_date_end</span></li>
                                                    <li><i class="fa fa-usd" style="margin-right: 11px"></i> <span class="info">Money Back Guarantee</span></li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-2" style="padding-right: 0px">
                                                <ul class="meta-search">
                                                    <li class="mb-4"><i class="icon fa fa-user"></i> <span class="info"> Free Staffs: @list_Staff_Free_Of_Services.list_staff_free_count</span></li>
                                                    <li><i class="icon fa fa-gift"></i> <span class="info">Price offer: $@list_Staff_Free_Of_Services.service.Service_Price</span></li>
                                                </ul>
                                            </div>

                                            <div class="col-xs-12 col-sm-12 col-md-2" style="padding-right: 0px">
                                                <ul class="meta-search">
                                                    <li class="mb-4"><i class="icon fa fa-address-card"></i> <span class="info"> Name: @list_Staff_Free_Of_Services.service.Service_Name</span></li>
                                                    <li><i class="mr-2 fa fa-save"></i> <span class="info"> Sale of: @_sale_of %</span></li>
                                                </ul>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-1">
                                                <ul class="meta-search">
                                                    <li>
                                                        @if (cus != null)
                                                        {
                                                            <button data-toggle="modal" data-target="#Modal_OrderDetail" class="btn btn-info" onclick="return _Book(@list_Staff_Free_Of_Services.service.Id)">
                                                                <i class="glyphicon glyphicon-book" style="color:white!important"></i>
                                                                Book
                                                            </button>
                                                        }
                                                        else
                                                        {
                                                            <button data-toggle="modal" data-target="#Modal_Login" class="btn btn-info">
                                                                <i class="glyphicon glyphicon-log-in" style="color:white!important"></i>
                                                                Login
                                                            </button>
                                                        }

                                                    </li>
                                                </ul>
                                            </div>
                                            <span class="clearfix borda"></span>
                                        </div>
                                    </div>
                                }

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="Modal_OrderDetail" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px">
        <div class="modal-content" style="border-radius: 10px">
            <div class="modal-header" style="background-color:burlywood">
                <h3 class="modal-title" style="color: white;font-weight:bold" id="myModalLabel">CREATE YOUR ORDER</h3>
                <button type="button" class="close fa fa-close" data-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="form">
                <div class="row">
                    <div class="modal-body" style="padding: 50px">
                        <div class="row">
                            <div class="col-md-12" style="display:none">
                                <label style="font-weight: 600">Service_Id</label>
                                <input type="number" readonly value="" id="Service_Id" class="form-control">
                            </div>

                            <div class="col-md-6">
                                <label style="font-weight: 600">Service</label>
                                <input type="text" required readonly id="Service_Name" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600">Number of Employee</label>
                                <input type="number" required id="Number_Of_Employee_Book" min="1" class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-md-6">
                                <label style="font-weight: 600">Date Start</label>
                                <input type="text" required id="Date_Start_Book" value="@Request["Date_Start"]" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label style="font-weight: 600">Date End</label>
                                <input type="text" required id="Date_End_Book" value="@Request["Date_End"]" class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-top: 30px">
                            <div class="col-md-12 block_loader" style="display: none">
                                <div style="float:right;width: 55%">
                                    <div class="loader"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="button" style="float:right;margin-left: 10px" class="btn btn-dark" data-dismiss="modal">Close</button>
                                <button type="button" style="float:right" class="btn btn-info" onclick="return _Submit();">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section js{
    <script type="text/javascript">
        function _Book(Service_Id) {
            $('#Service_Id').val(Service_Id);
            if ($('#Service_Id').val() == 1) {
                $('#Service_Name').val("In-Bound");
            }
            if ($('#Service_Id').val() == 2) {
                $('#Service_Name').val("Out-Bound");
            }
            if ($('#Service_Id').val() == 3) {
                $('#Service_Name').val("Tele-Marketing");
            }

            $('#Date_Start_Book').datepicker({
                minDate: 0,
                dateFormat: "dd/M/yy"
            });
            $('#Date_End_Book').datepicker({
                minDate: 0,
                dateFormat: "dd/M/yy"
            });
        }
        function _Submit() {
            var data = {
                Service_Id: $("#Service_Id").val(),
                Number_Of_Employee: $("#Number_Of_Employee_Book").val(),
                Date_Start: $("#Date_Start_Book").val(),
                Date_End: $("#Date_End_Book").val(),
                Description: $("#Description").val()
            }
            var Number_Of_Employee = parseInt($("#Number_Of_Employee_Book").val());
            if (Number_Of_Employee > 0) {
                $.ajax({
                    url: "/Customer2/CreateOrder",
                    contentType: "application/json;charset=utf-8",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: "json",
                    success: function (result) {
                        if (result == "The Employee is greater than our Staff" ) {
                            alert(result);
                        } else if (result == 404) {
                            alert("Date time is not valid");
                        }
                        else {
                            var count = parseInt($('#order_count').text());
                            count += 1;
                            $('#order_count').text(count);
                            $('#Modal_OrderDetail').modal('hide');
                            alert("Successful");
                        }
                    },
                    error: function () {

                    }
                });
            } else {
                alert("Some infomation can't be null ");
            }

        }
        function _Refesh() {
            history.go(0);
        }
    </script>
}