@using _ExcellOn_.Models
@{
    MyCompany myCompany = ViewBag.myCompany;
    List<Service> list_service = ViewBag.list_service;
    List<Staff> list_staff = ViewBag.list_staff;
    List<OrderDetail> list_orderdetail = ViewBag.list_orderdetail;
    List<Customer> list_customer = ViewBag.list_customer;
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="w3l-banner pt-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 banner-left">
                <h3 class="text-white mb-3 title">
                    We Offer Best Quality<br>
                    Customer <span class="type-js"><span class="text-js"> Service! </span></span>
                </h3>
                <p class="lead text-white">
                    @myCompany.MyTarget
                </p>
                <div class="mt-5">
                    <a class="btn-style-white" style="padding-left: 20px;padding-right: 20px;padding-top:12px;padding-bottom:12px;border-radius: 6px;border: 1px white solid" href="@Url.Action("Index","Services")">View Our Service</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->

<!-- about -->
<section class="w3l-features-photo-7 py-5">
    <div class="container py-md-5 py-4">
        <div class="row w3l-features-photo-7_top">
            <div class="col-lg-6 w3l-features-photo-7_top-left pr-lg-5">
                <h4 class="title-style mb-2">@myCompany.Title</h4>
                <p>
                    Orci urna. In et augue ornare,
                    tempor massa in,
                    luctus sapien.
                    Proin a diam et dui fermentum dolor molestie vel id neque. Donec sed tempus enim, a congue
                    risus. Pellen
                    tesqu.
                </p>
                <div class="row feat_top mt-4 pt-lg-3">
                    <div class="col-6 w3l-features-photo-7-box">
                        <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                        <h5 class="w3l-feature-text my-2" style="font-size:1.6rem">Our Mission</h5>
                        <p>@myCompany.MyMission</p>
                    </div>
                    <div class="col-6 w3l-features-photo-7-box">
                        <i class="fa fa-angellist" aria-hidden="true"></i>
                        <h5 class="w3l-feature-text my-2" style="font-size:1.6rem">Our Vision</h5>
                        <p>@myCompany.MyVision</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 w3l-features-photo-7_top-right mt-lg-0 mt-sm-5 mt-4">
                <img src="@myCompany.Image" class="img-responsive" alt="" />
            </div>
        </div>
    </div>
</section>
<!-- //about -->

@Html.Action("Section_Service", "Services")

<!-- stats -->
<section class="w3_stats py-5" id="stats">
    <div class="container py-md-5 py-4">
        <div class="w3-stats text-center py-md-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="section-heading text-center mb-sm-5 mb-4">
                        <h3 class="title-style text-white mb-2">Our Amazing Statistics</h3>
                        <p class="lead text-white">
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque,
                            eaque ipsa quae ab illo inventore.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-users"></span>
                        <div class="timer count-title count-number mt-3" data-to="@list_staff.Count" data-speed="500"></div>
                        <p class="count-text">Employees</p>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="counter">
                        <span class="fa fa-smile-o"></span>
                        <div class="timer count-title count-number mt-3" data-to="8386" data-speed="500"></div>
                        <p class="count-text">Statisfication</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <span class="fa fa-phone"></span>
                        <div class="timer count-title count-number mt-3" data-to="@list_customer.Count" data-speed="500"></div>
                        <p class="count-text">Customer Call</p>
                    </div>
                </div>
                <div class="col-md-3 col-6 mt-md-0 mt-5">
                    <div class="counter">
                        <span class="fa fa-trophy"></span>
                        <div class="timer count-title count-number mt-3" data-to="@list_orderdetail.Count" data-speed="500"></div>
                        <p class="count-text"> Order Service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->

@Html.Action("Section_Customer","Customer")

@Html.Action("Section_Blog", "Blog")

@Html.Action("Section_Contact", "Contact")
